html {
  font-size: 100%;
  box-sizing: border-box;
  --default-transistion: color 0.3s ease-in-out, background 0.3s ease-in-out,
    background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    fill 0.3s ease-in-out, stroke 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--text-color);
  transition: var(--default-transistion);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
