@use '../util' as *;

.toggle {
  position: relative;
  display: flex;
  gap: rem(16);
  flex-direction: row;
  width: fit-content;
  border-radius: rem(16);
  height: rem(32);
  justify-content: center;
  align-items: center;
  padding: rem(8);
  background: var(--toggle-bg);

  &::before {
    content: '';
    position: absolute;
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    background-color: var(--toggle-button);
    z-index: 0;
    left: 0;
    transform: translateX(var(--toggle-button-pos));
    transition: transform 300ms ease-in-out;
  }

  &__icon {
    fill: var(--text-color-secondary);
    height: rem(16);
    width: rem(16);
    z-index: 1;
    transition: var(--default-transistion);

    &#icon-sun {
      fill: var(--icon-color-sun);
    }
    &#icon-moon {
      fill: var(--icon-color-moon);
    }
  }
}
